.form{
 max-width: 70%;
 border: solid 4px 4f3222;
 border-radius: 8px;
 margin-top: 40px;
 margin-left: 15px;  
 padding: 10px 
}

.divDeAbajo{
 max-width: 70%;
 border: solid 4px #c1946a;
 border-radius: 8px;
 margin-top: 40px;
 margin-left: 15px;  
 padding: 10px  
}

.form2{
    max-width: 70%;
    border: solid 4px #c1946a;
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 15px;  
    padding: 10px  
}

.form3{
    max-width: 85%;
    border: solid 4px #c1946a;
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 15px;  
    padding: 10px;
}

body{
    background-color: #e3eaa7;
}