.form{
 max-width: 70%;
 border: solid 4px 4f3222;
 border-radius: 8px;
 margin-top: 60px;
 margin-left: 15px;
 padding: 10px
}

.divDeAbajo{
 max-width: 70%;
 border: solid 2px #63321F;
 border-radius: 8px;
 margin-top: 40px;
 margin-left: 15px;
 padding: 10px
}

.form2{
    max-width: 70%;
    border-radius: 8px;
    margin-top: 70px;
    margin-left: 15px;
    padding: 10px
}

.form3{
    max-width: 85%;
    border: solid 4px #c1946a;
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 15px;
    padding: 10px;
}

.lista{
  display: flex;
  justify-content: center;
  margin-right: 20em;
  margin-left: 20em;
  margin-bottom: 30px;
  border-radius: 8px;

}

.item{
  color: #63321F;
  font-family: 'Catamaran', sans-serif;
}

body{
  background-image: url('http://localhost:3001/arbolCorazon.jpg');
}
