html {
  font-size: 1.5em;
  line-height: 1.4;
}

body{
  background-image: url("http://localhost:3001/arbolCorazon.jpg");
  background-size: cover;
  width: 100%;
  top: 0;
  position : absolute;
  background-blend-mode: saturation;
}
