.amaticSC {
	font-family: 'Amatic SC', cursive;
}

.bold{
	font-weight: bold;
}

.texto-tierra{
  color:#63321F;
}

.imgNormal{
  width: auto;
  max-height: 600px;
}

.redesContainer {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  color:#63321F;
  font-size: small;
}

.redesContainer ul li {
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
}

.body{
  background-blend-mode: lighten;
  overflow: hidden;
} 
