html {
  font-size: 1.5em;
  line-height: 1.4;
}

html, body {
  background-color: #BCD952;
	height: 100%;
  width: 100%;
}

.amaticSC {
	font-family: 'Amatic SC', cursive;
}

.bold{
	font-weight: bold;
}

.texto-tierra{
  color:#63321F;
}

.redes-container {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  color:#63321F;
  font-size: small;
}

.redes-container ul li {
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
}

.carousel-inner { 
 overflow: hidden;
 visibility: visible;
}
