.amaticSC {
	font-family: 'Amatic SC', cursive;
}

.bold{
	font-weight: bold;
}

.texto-tierra{
  color:#63321F;
}

.redes-container {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  color:#63321F;
  font-size: small;
}

.redes-container ul li {
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
}
