.navBar {
  display: flex;
  align-items: center;
}

.icono{
  width: 30px;
  height: 30px;
}

.nombreEmpresa{
  font-size: 20px;
  margin-left: 0;
}


#navigation {
  background-color: rgb(203, 243, 162);
  width: 100%;
  padding: 3px 7px;
  text-decoration: none;
  color: #63321F;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.2em;
}

#navigation a {
  color: #63321F;
  cursor: pointer; /*el cursor se pone en pointer cada vez que nos paramos sobre alguna de las opciones del menú}*/
}

 #navigation a:hover {
  color: #63321F;  /*por defecto al seleccionar algo del menú el bootstrap hace que se ponga un subrayado, con esto, al pararse sobre alguna opción, no hay cambios sobre las palabras del menú}*/
 }

 #navigation a:visited {
  text-decoration: none;
 }

.shadowsIntoLight {
	font-family: 'Shadows Into Light', cursive;
}

.textSize {
  font-size: 1.1em;
}

.color{
  color: #63321F;
}

.fixed{
  position: fixed;
  z-index: 1;
}

.top {
  top: 0;
}
