.divroot {
  border-width: 2px;
  border-style: solid;
  border-color: #777;
  padding: 10px 10px;
  margin: 20px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.foto{
    border-radius: 15px;
    width: 60%;
    padding: 5px;
    display: flex;
    justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button {
  background-color: #734F2F;
  border-radius: 5px;
  border-style: none;
  width: 90px;
  height: 30px;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
}

.text {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.p {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
