a {
  color: #63321F;
  text-decoration: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.foto{
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.card {
  width: 100rem;
  padding: 20px;
  margin: 10px;
  min-width: 10rem;
}

.title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.texto-tierra {
  color: #63321F;
}

.text {
  font-size: 2px;
  display: flex;
  justify-content: center;
}

.botonDetalle{
  width: auto;
  display: flex;
  justify-content: center;
}
