.divroot {
  border-width: 2px;
  border-style: solid;
  border-color: #777;
  padding: 10px 10px;
  margin: 20px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.foto{
    border-radius: 15px;
    width: 60%;
    padding: 5px;
    display: flex;
    justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
  justify-content: center;
}

.text {
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.p {
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

