
a {
  color: #63321F;
  text-decoration: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.catalog{
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.fotoDetalle{
    border-radius: 15px;
    padding: 5px;
    display: block;
    margin: auto;
    width: 100%;
}


.card {
  width: 100rem;
  padding: 20px;
  margin: 10px;
  min-width: 10rem;
}


.title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.texto-tierra {
  color: #63321F;
}

.text {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.botonDetalle1{
  width: auto;
  display: block;
  margin: auto;
}
