
a {
  color: #63321F;
  text-decoration: none;
}

a :hover {
  text-decoration: none;
  background-color: #C1D9D4;
}


.foto{
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
}


.card {
  width: 12rem;
  padding: 20px;

}


#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
  justify-content: center;
}

.text {
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.p {
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
