.container {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
  
  }
  
  .btnSearch{
    background-color: #343a40;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 8px;
    margin-left: 10px;
    padding: 10px;
  }
  
  .btnSearch:hover {
    background-color: white;
    color: black;
  }
  
  .input {
    border-radius: 8px;
    border-style:solid;
  }
  